import /init.recovery.device.rc
import /init.recovery.qcom_decrypt.rc

on init
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-1

    # Vibrator
    start vendor.qti.vibrator

# DT2W
on init
    write /sys/touchpanel/double_tap 1

# HVDCP
service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    start hvdcp_opti

# Vibrator
service vendor.qti.vibrator /system/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input
    seclabel u:r:recovery:s0
