import /merge-fstab.rc
import /merge-fstab-emmc.rc
import /merge-fstab-sdcard.rc
import /init.recovery.device.rc
import /init.recovery.qcom_decrypt.rc

on init
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange

    # DT2W
    write /sys/touchpanel/double_tap 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-1

    # HVDCP
    start hvdcp_opti

    # Vibrator
    start vendor.qti.vibrator

# HVDCP
service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# Vibrator
service vendor.qti.vibrator /system/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input
    seclabel u:r:recovery:s0
